<div class="dashbord">
    <section id="settings" class="col-xs-4 col-md-2">    
        <form ng-submit="addMemo(memo)">
          <input class="btn btn-primary btn-lg" type="submit" value="Créer"> 
        </form>
        <!-- <button class="colorsSettings btn btn-default btn-xs" colorpicker colorpicker-fixed-position="true" ng-model="setColor.colors" type="button">Couleurs</button> 
        <button class="colorsSettings btn btn-info btn-xs" ng-model="setColor.colors" type="button" ng-click="setMemoColors()">Ok</button>  -->
        <ul class="nav" id="data_result">
          <li ng-repeat="stocked in storage">
            [{{$index + 1}}] <i>{{stocked.publication | date:'d MMM y, H:mm:ss'}}</i> : {{stocked.data}}
          </li>
        </ul>
    </section>

    <section id="memos">    
      <div class="col-xs-12 col-md-10">
          <ul class="memos">
            <li ng-repeat="memo in memos">
            <p class="publication">{{memo.publication | date:'le d MMM y à H:mm:ss'}}</p>
              <span class="glyphicon glyphicon-remove remove_btn" ng-click="removeMemo(memo)"></span>
              <textarea ng-model="memo.data" ng-maxlength="50" name="myMemo" placeholder="..." autofocus></textarea>
              <div class="btns">
                <form ng-submit="setMemoContent()">
                  <input type="submit" class="btn btn-primary btn-sm" value="Enregistrer"> 
                </form>
                <form ng-submit="getMemoContent()">
                  <input type="submit" class="btn btn-primary btn-sm" value="Récupérer"> 
                </form>
              </div>
            </li>
         </ul>        
      </div>            
  </section>   
</div>